
 <section>
  <div class="row" >
    <div class="col-8" >
      <label class="titreLeft" for="">Importer une liste</label>
      <div class="formLeft">
        <form id="import" >
          <input type="String" [(ngModel)]="libelle" id="libelle" name="libelle" placeholder="Nom de la liste" required>
          <input type="file" id = "files" name ="files" (change)="televerser($event)" required placeholder="Joindre un fichier"/>
          <button type="submit" (click)="importerList()">Importer</button>
        </form>
      </div> 
    </div>
</div>
 </section>

      <style>
        .row{
          margin-top: 20px;
          border-radius: 12px;
          border: 3px solid #42546D;
          width: 700px;
          margin-left: 300px;
          height: 300px;
        } 
        section{
                margin-top:10%;
                width: 100%;
                height: 410px;
            }



      </style>







