            <div class="section row col text-center overflow-hidden">
                <h1 class="text-center"> Laisser le hazard tirer au sort</h1>
                <div class=" ta1 container overflow-hidden">
                    <div class="row ta mx-5">
                        <div class="form row">
                            <form class="col-6">
                                <br>
                            <div class="form-group py-3">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom du tirage">
                            </div>
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Selectionner une liste</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Nombre de personne">
                            </div>
                            <div class="form-group">
                                <button style="background-color:#42546D ; color: aliceblue;" class="form-control" type="submit">Faire le tirage</button>
                            </div>
                          </form>
                          <div class="col-6 py-3"><img src="../../assets/font.jpg" height="250px" width="300px"  alt=""></div>
                        </div>                        
                    </div>
                </div>
            </div>