

<router-outlet></router-outlet>
 <div class="toolbar w-100" role="banner">

  <img
  style="font-size: 30px; border-radius:10%;"
  width="60"
  alt="Angular Logo"
  src="../assets/Logo.jpg"
/>
  <span style="font-size:20px;">Free <b style="color:red ;"> Tirage</b></span>
    <div class="spacer"></div>
    <div class="position">
      <a routerLink="/accueil" style="color:white ; font-size: 20px;" class="header acueil">
        Accueil
      </a>
      <a routerLink="/tirage" style="color:white ; font-size: 20px;" class="header faire">
        Faire un tirage
      </a>
      <a routerLink="/importer" style="color:White ; font-size: 20px;" class="header liste">
        Nouvelle liste
      </a>
    </div>
</div>


  <footer>
    <h2>
        Copyright © 2022 ODK2
    </h2>
  </footer>

