

<router-outlet></router-outlet>
 <div class="toolbar w-100" role="banner">

  <img   alt="Angular Logo"  src="../assets/Logo.jpg" [routerLink]="'/accueil'"/>
  <span class="head">Free <b style="color:red ;"> Tirage</b></span>
    <div class="spacer"></div>
    <div class="position">
      <a routerLink="/accueil"  class="header acueil">
        Accueil
      </a>
      <a routerLink="/tirage"  class="header faire">
        Faire un tirage
      </a>
      <a routerLink="/importer"  class="header liste">
        Importer une liste
      </a>
    </div>
</div>


  <footer>
    <h2 class="fixed-bottom perso">
        Copyright © 2022 ODK2
    </h2>
  </footer>

