 <br><br><br>
 <style>
  td,th{
    color: white;
  }
  caption{
    padding-left:300px;color: white; font-size: 40px;
  }
  th{
    background-color: #42546D;
  }
  @media screen and  (max-width: 800px) and (min-width: 500px) {
    .col-8{
      background-color: red;
      padding-left: auto;
    }
    caption{
      padding-left:50px;
      font-size: 20px;
    }
    tr{
      width: 40px;
      font-size: 10px;
    }
    .section{
                 padding-top: 600px;
                }

  }
 </style>
<div class="section row col-12 text-center overflow-hidden">
  <div class="row container">
    <div class="col-2"></div>
    <div class="col-8 " style="background-color: #6B6B7B; border-radius: 12px;" >
        <table class="table caption-top">
      <caption >Liste des tirages de la list1</caption>
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Libelle</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td>Groupe1</td>
          <td>Date</td>
          <td>Voir plus...</td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>Groupe2</td>
          <td>Date</td>
          <td>Voir plus...</td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td>Groupe3</td>
          <td>Date</td>
          <td>Voir plus...</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
  <div class="row container py-5">
    <div class="col-2"></div>
    <div class="col-8" style="background-color: #6B6B7B; border-radius: 12px;">
        <table class="table caption-top">
      <caption>Liste des Postulants Groupe1</caption>
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Nom</th>
          <th scope="col">Numéro</th>
          <th scope="col">Prénom</th>
          <th scope="col">Tirage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">camara@</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td scope="row">bil@</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td scope="row">mamad@</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
</div>

