<br><br><br>
<style>
 td{
   color:#42546D ;
   border: 1px solid #42546D;
 }
 th{
   background-color: #42546D;
   color: white;
 }
 @media screen and  (max-width: 800px) and (min-width: 500px) {
   .col-8{
     background-color: red;
     padding-left: auto;
   }
   caption{
     padding-left:50px;
     font-size: 20px;
   }
   tr{
     width: 40px;
     font-size: 10px;
   }
   .section{
                padding-top: 600px;
               }

 }
 table{
   border-radius: 50px;
   border: 3px solid #42546D;
   margin-left: 2%;
   height: 100px;
 }
 h2{
   color:#42546D;
 }
</style>
<section>
  <div class="section row col-12 text-center overflow-hidden">
    <div class="row container">
      <h2>Liste des postulants tires dans le tirage  </h2>
      <div class="table1 " style=" border-radius: 12px;" >
          <table class="table caption-top">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let postulant of detailPostulant| paginate:{itemsPerPage:5,currentPage:page} let i = index">
            <td scope="row">{{postulant[i]}}</td>
            <td>{{postulant.nom}}</td>
            <td>{{postulant.prenom}}</td>
            <td>{{postulant.numero}}</td>
            <td>{{postulant.email}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page=$event" nextLabel="Suivant" previousLabel="Précedent">
     </pagination-controls>
      </div>
    </div>
   
   </div>
</section>

