<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
<!--       <ul>
        <li><img src="../../assets/Logo.jpg" alt="logo"> <b>Free<span style="color:red">Tirage</span></b></li>
        <li id="accueil"><a routerLink="/accueil">Accueil</a></li>
        <li id="tirage"><a routerLink="/tirage">Faire tirage</a></li>
        <li id="ajouterListe"><a routerLink="/importer">Ajouter liste</a></li>
    </ul> -->
    <!-- <section>
        <nav>
                <h1> Bienvenue sur la page d'accueil de free tirage</h1>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 cologne" >
                        <div>
                            <h1>Nombre de liste tirée</h1>
                            <span class="nombre">16</span>
                        </div>
                    </div>
                    <div class="col-1 " ></div>
                    <div class="col-2 cologne">
                        <div>
                            <h1>Nombre de liste tirée</h1>
                            <span class="nombre">16</span>
                        </div>
                    </div>
                    <div class="col-1 "></div>
                    <div class="col-2 cologne" >
                        <div>
                            <h1>Nombre de liste tirée</h1>
                            <span class="nombre">19</span>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-2"></div>
                    <div class="col-8 ta">
                        <h5>Nombre de Tirage par liste</h5>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col" style="width: 100px ;">N°</th>
                                <th scope="col" style="width: 300px ;">
                                    <fa-icon [icon]="liste"></fa-icon>
                                    Liste
                                </th>
                                <th scope="col" style="width: 250px;">Nombre de tirage</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="row">1</td>
                                <td>Liste1</td>
                                <td>12</td>
                                <td><a routerLink="/details-liste">Voir plus</a></td>
                              </tr>
                              <tr>
                                <td scope="row">2</td>
                                <td>Liste1</td>
                                <td>12</td>
                                <td><a routerLink="/details-liste">Voir plus</a></td>
                              </tr>
                              <tr>
                                <td scope="row">3</td>
                                <td>Liste1</td>
                                <td>12</td>
                                <td><a routerLink="/details-liste">Voir plus</a></td>
                              </tr>
                              <tr>
                                <td scope="row">4</td>
                                <td>Liste1</td>
                                <td>12</td>
                                <td><a routerLink="/details-liste">Voir plus</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                 </div>
        </nav><br><br><br>
        <footer>
            <h2>
                <h6 >Copyright © 2022 ODK2</h6>

            </h2>
         </footer>
    </section>
</body>
</html> -->
