
           <section>
                <nav>
                    <div class="section row col text-center overflow-hidden">
                        <h1 class="py-5" style="color:#42546d ;">Bienvenue sur la page d'accueil de free tirage</h1>
                        <div class="row  table ">
                            <div class="col-12 cologne1 row col-md-4" >
                                <div class="col-8 cologne">
                                    <h1 class="titre">Nombre de liste tirée</h1>
                                    <span class="nombre">{{NombreListeTiree}}</span>
                                </div>
                            </div>

                            <div class="col-12 row col-md-4" >
                                <div class="col-8 cologne">
                                    <h1 class="titre">Nombre de  tirage</h1>
                                    <span class="nombre">{{NombreTirage}}</span>
                                </div>
                            </div>
                            <div class="col-12 row col-md-4" >
                                <div class="col-8 cologne">
                                    <h1 class="titre1">Nombre de liste postulant</h1>
                                    <span class="nombre">{{NombreListe}}</span>
                                </div>
                            </div>
                        </div>
                        <div class=" ta1 container overflow-hidden">
                            <div class="row ta">
                                <h5>Nombre de Tirage par liste</h5>
                                <table class="table table-sm">
                                    <thead>
                                    <tr style="color:white ;">
                                        <th style="width: 100px ;">N°</th>
                                        <th style="width: 300px ;">
                                            Liste
                                        </th>
                                        <th  style="width: 250px;">Nombre de tirage</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let liste of accueil; let i = index">
                                        <td>{{i+1}}</td>
                                        <td >{{liste.libelleliste}}</td>
                                        <td>{{nbtirage_liste[i]}}</td>
                                        <td><a [routerLink]="['/details-liste',liste.id]">
                                            <button class="btn ">Voir plus...</button></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- <pagination-controls (pageChange)="page=$event" nextLabel="Suivant" previousLabel="Précedent">
                                </pagination-controls> -->
                            </div>
                        </div>
                    </div>
        
                </nav>
        </section>
