
           nav h1{
                position: relative;
                text-align: center;
                color: white;
            }
            .cologne{
                height: 170px;
                border-radius: 12px;
                border: 3px solid #42546d;
            }
            .cologne h1{
                position: relative;
                top: 20px;
                font-size: 20px;
                color:#42546d;
            }
            section{
                margin-top:3%;
                width: 100%;
                height: 100%;

            }
            .nombre{
                color: #42546d;
                font-size: 70px;
            }
            th{
                background-color: #42546D;
            }

            .ta{
                border: 2px solid#6B6B7B ;
                border-radius: 12px;
                width: 80%;
                margin-left: 100px;
            }
            h5{
                margin-top: 5px;
                color: #42546d;
                text-align: center;
            }
            td,th{
                border:1px solid #42546d;
                color: #42546d;
                text-align:center;            
              }
            .table{
                margin-top: 10px;
            }
            .titre1{
                font-size: 15px ;
            }
            .cologne1{
                margin-left: 90px;
                width: 400px;
            }

            th{
                margin-top: -12%;
                color:aliceblue;
            }
             @media screen and (max-width: 767px) and (min-width: 500px) {
                .cologne1{
                    width: 800px;
                    margin-left: -10px;
                }
                .cologne{
                    margin-left: 120px;
                    height: 100px;
                    margin-top: 5px;
                }
                .nombre{
                    font-size: 25px;
                }
                h1{
                    font-size:21px 
                }
                .table{
                    margin-top: -40px;
                }
            } 
            @media screen and (max-width: 960px) and (min-width:767px){

                .section{
                    background-color: red;
                }
                
                .cologne1{
                    width: 250px;
                    margin-left: 40px;
                }

                .nombre{
                    margin-top:10%;
                    font-size: 30px;
                }
                h1{
                    font-size:30px
                }
                .table{
                    margin-top: -40px;
                }
                .titre,.titre1{
                    margin-top: -15px;
                }
                .titre1{
                    font-size: 15px;
                }


            }